server:
  http_listen_port: 3200
  grpc_listen_port: 9096

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m

storage:
  trace:
    backend: s3
    s3:
      endpoint: minio:9000
      bucket: tempo-data
      access_key: mimiradmin
      secret_key: mimirsecret
      insecure: true
    wal:
      path: /var/tempo/wal
